In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.datetime(2018, 11, 17, 0, 2, 24, 796000), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.datetime(2018, 11, 17, 0, 6, 40, 796000), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (3, datetime.datetime(2018, 11, 17, 0, 10, 51, 796000), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (4, datetime.datetime(2018, 11, 17, 0, 14, 35, 796000), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5, datetime.datetime(2018, 11, 17, 0, 17, 39, 796000), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (88, 'Mohammad', 'Rodriguez', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (54, 'Kaleb', 'Cook', 'M', 'free'),
 (33, 'Bronson', 'Harris', 'M', 'free')]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, 337.68444)]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 17, 0, 2, 24, 796000), 0, 17, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 17, 0, 6, 40, 796000), 0, 17, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 17, 0, 10, 51, 796000), 0, 17, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 17, 0, 14, 35, 796000), 0, 17, 46, 11, 2018, 5),
 (datetime.datetime(2018, 11, 17, 0, 17, 39, 796000), 0, 17, 46, 11, 2018, 5)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).